.home-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px,200px));
    justify-content: center;
    grid-gap: 10px;
}

@media (max-width: 350px){
    .home-page {
        grid-template-columns: repeat(auto-fit, minmax(150px,200px));
        grid-gap: 5px;
    }
}