.cart-block {
    display: flex;
    align-items: center;
    position: relative;
}

.cart-block__icon {
    cursor: pointer;
    position: relative;
}

.cart-block__total-price {
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 350px) {
    .cart-block__total-price {
        font-size: 8px;
        margin-left: 4px;
    }
    .cart-block__icon {
        height: 14px;
        margin-left: 0px;
    }
}