.game-item {
    margin: 0;
    text-decoration: none;
    color: white;
    width: 320px;
    height: 300px;
    background-color: rgb(36,37,41);
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
}

/* .game-item:not(:last-child) {
    margin-bottom: 30px;
    margin-right: 50px;
} */

.game-item__title {
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 350px){
    .game-item__title {
        font-size: 11px;
    }
    .game-item {
        width: 200px;
        height: 250px;
    }
}

@media (max-width: 260px){
    .game-item__title {
        font-size: 7px;
    }
    .game-item {
        width: 170px;
    }
}

.game-item__genre {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.game-item__details {
    padding: 10px 20px;
}

.game-item__description {
    margin-top: 10px;
    font-size: 14px;
}

.game-item__buy {
    padding-top: 20px;
    position: absolute;
    right: 0;
    bottom: -12px;
}